body {

	font-family: 'Crete Round';

}

div.liste {

	display: flex;
	flex-direction: column;
	margin-bottom: 3%;
	height: 60vh;
	width: 50%;
	margin: 0 auto;
	justify-content: space-around;


}

div.liste2 {

	display: flex;
	flex-direction: column;
	margin-bottom: 3%;
	height: 100vh;
	width: 70%;
	margin: 0 auto;
	justify-content: space-around;

}

div.liste div {

	background-color: #e6c7a3;
	/*border: 3px solid #ffffff;*/
	flex: 0 0 30%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	transition: border 0.5s;
	border: 5px solid #f3dedb;

}

div.liste div a {

	font-size: 20px; 
	flex: 0 0 25%;
	text-align: center;

}

div.liste div:hover {

	border: 5px solid #000000;

}


div.liste div i {

	font-size: 80px;

}

div.liste2 div {

	display: flex;
	background-color: #c5c5c5;
	/*border: 5px solid #ffffff;*/
	flex: 0 0 30%;
	text-align: center;
	overflow: hidden;

}

div.liste2 div img {

	height: 100%;
	width: 100%; 
	opacity: 0.8;

}

div.liste2 div img:hover {

		height: 100%;
		width: 100%;
		opacity: 1;
		cursor: pointer;

}

body header {

	text-align: center;
	font-size: 30px;
	font-weight: bold;
	padding-bottom: 20px;
	padding-top: 10px;
	background-color: #e6c7a3;
	margin-bottom: 10px;

}

body main {

	background-color: #f3dedb;

}

main div.menu {

	display: flex;
	flex-direction: row;
	background-color: #9c5348;
	color: #ffffff;
	height: 5vh;
	border-bottom: 10px solid #ffffff;

}

main div.menu ul {

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0;
	width: 100%;
	height: 100%;
	margin: 0;

}


main div.menu ul li {

	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	/*flex: 0 0 15%;*/
	cursor: pointer;
}

main div.menu ul li a {

	font-size: 15px;

}

main div.menu ul li:hover {

	background-color: #e6c7a3;
	color: #000000;

}

footer {

	text-align: center;
	background-color: #9c5348;
	color: #ffffff;
	padding: 20px;

}

@media screen and (min-width: 900px) {

    div.liste {

		flex-direction: row;
		height: 80vh;
		flex-wrap: wrap;
		width: 100%;
		justify-content: center;

    }

    div.liste div {

    	flex: 0 0 40%;

    }

	div.liste2 {

		flex-direction: row;
		flex-wrap: wrap;
		height: 100vh;
		width: 100%;
		margin: 0 auto;
		justify-content: center;

	}

    div.liste2 div {

		flex: 0 0 48%;
		margin: 5px;

	}

}

