div.liste {

	display: flex;
	flex-direction: column;

}

div.liste div {

	background-color: pink;
	border: 2px solid #ffffff;

}

body header {

	text-align: center;
	font-size: 30px;
	font-weight: bold;
	padding-bottom: 20px;
	padding-top: 10px;
	background-color: yellow;
	margin-bottom: 10px;

}