div.liste {

	display: flex;
	flex-direction: column;
	margin-bottom: 3%;
	height: 60vh;
	width: 50%;
	margin: 0 auto;
	justify-content: space-around;

}

div.liste2 {

	display: flex;
	flex-direction: column;
	margin-bottom: 3%;
	height: 80vh;
	width: 80%;
	margin: 0 auto;
	justify-content: space-around;

}

div.liste div {

	background-color: #e6c7a3;
	/*border: 3px solid #ffffff;*/
	flex: 0 0 30%;
	display: flex;
	align-items: center;
	justify-content: center;

}

div.liste div i {

	font-size: 80px;

}

div.liste2 div {

	background-color: #c5c5c5;
	/*border: 5px solid #ffffff;*/
	flex: 0 0 30%;
	text-align: center;

}

div.liste2 div img {

	height: 80%;
	width: 40%; 

}

body header {

	text-align: center;
	font-size: 30px;
	font-weight: bold;
	padding-bottom: 20px;
	padding-top: 10px;
	background-color: #e6c7a3;
	margin-bottom: 10px;

}

main div.menu {

	display: flex;
	flex-direction: row;
	background-color: #9c5348;
	color: #ffffff;

}

main div.menu ul {

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0;
	width: 100%;

}


main div.menu ul li {

	list-style: none;

}

footer {

	text-align: center;
	background-color: #9c5348;
	color: #ffffff;
	padding: 20px;

}

