/* Variables LESS */

@orangeFonce: #fff1cc;
@rougeFonce: #885757;
@rougePale: #a78782;
@noir: #000000;
@blanc: #ffffff;



/* Reset... */
	* {
		padding:0;
		margin:0;
		box-sizing: border-box;
	}

/* base: AA8339 et D4A36A*/

h1 {

	margin: 0px;

}

body {

	font-family: 'Crete Round';


	header {

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 30px;
		font-weight: bold;
		padding-bottom: 20px;
		padding-top: 10px;
		background-color: @orangeFonce;
		//margin-bottom: 10px;
		height: 20vh;


		h1 {

			font-size: 30px; // 30px

		}

		a {

			font-size: 20px;

		}

	}


	main {

		background-color: @rougePale;

		div.menu {

			display: flex;
			flex-direction: row;
			background-color: @orangeFonce;
			color: @noir;
			height: 10vh;
			border-bottom: 1px solid @rougeFonce;


			ul {

				display: flex;
				flex-direction: row;
				justify-content: center;
				padding: 0;
				width: 100%;
				height: 100%;
				margin: 0;


				li {

					list-style: none;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					padding: 20px;
					flex: 0 0 10%;
					cursor: pointer;

					a {

						font-size: 20px;

					}

					&:hover {

						background-color: @rougeFonce;
						color: @blanc;

					}

				}

			}

		}

		div.logo {

			display: flex;
			flex-direction: column;
			background-color: @orangeFonce;
			color: @noir;
			justify-content: start;
			align-items: center;
			height: 18vh;
			animation: animationTitre 0.5s ease-out;
			animation-fill-mode: forwards;

			img {

				margin-top: -2%;
				background-color: @orangeFonce;

			}


		}


		div.liste {

			display: flex;
			flex-direction: column;
			margin-bottom: 3%;
			height: 70vh;
			width: 50%;
			margin: 0 auto;
			justify-content: space-around;
			padding-top: 3%;

			div {

				background-color: @orangeFonce;
				/*border: 3px solid @blanc;*/
				flex: 0 0 49%;
				flex-direction: column;
				display: flex;
				align-items: center;
				justify-content: space-around;
				transition: border 0.5s;
				border: 5px solid @rougePale;


				a {

					font-size: 20px; 
					flex: 0 0 10%;
					text-align: center;
				}


				i {

					font-size: 120px;

				}


				&:hover {

					border: 5px solid @noir;

				}


			}


		}

		div.liste2 {

			display: flex;
			flex-direction: column;
			margin-bottom: 3%;
			height: 100vh;
			width: 70%;
			margin: 0 auto;
			justify-content: space-around;
			padding-top: 3%;
			padding-bottom: 3%;

			div {

				display: flex;
				/*border: 5px solid @blanc;*/
				flex: 0 0 30%;
				text-align: center;
				overflow: hidden;


				img {

					height: 100%;
					width: 100%; 
					opacity: 0.8;


					&:hover {

							height: 100%;
							width: 100%;
							opacity: 1;
							cursor: pointer;

					}

				}

			}

		}

	}


	footer {

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 15vh;
		text-align: center;
		background-color: @orangeFonce;
		color: @noir;
		padding: 20px;

		a {

			font-size: 20px;

		}

		div {

			display: flex;
			flex-direction: row;
			justify-content: center;
			font-size: 30px;

			i {

				flex: 0 0 10%;

			}

		}

	}


}

@keyframes animationTitre {
	from {

		transform: translateX(-400%);
		opacity: 0;
	}

	to {
		transform: translateX(0%);
		opacity: 1;
	}

}

/*debut de MEDIA QUERY */

@media (min-width: 900px) {

	body {

		main {

		    div.liste {

				flex-direction: row;
				height: 80vh;
				flex-wrap: wrap;
				width: 100%;
				justify-content: center;


				div {

		    			flex: 0 0 49%;

		   		 }


	   		}

	   		div.liste2 {

				flex-direction: row;
				flex-wrap: wrap;
				height: 100vh;
				width: 100%;
				margin: 0 auto;
				justify-content: center;

				div {

					flex: 0 0 48%;
					margin: 5px;

				}

			}

	   	}

	}


}

/*fin de MEDIA QUERY */