/* Variables LESS */

@orangeFonce: #e6c7a3;
@rougeFonce: #9c5348;
@rougePale: #f3dedb;
@noir: #000000;
@blanc: #ffffff;



/* Reset... */
	* {
		padding:0;
		margin:0;
		box-sizing: border-box;
	}

/* base: AA8339 et D4A36A*/


body {

	font-family: 'Crete Round';


	header {

		text-align: center;
		font-size: 30px;
		font-weight: bold;
		padding-bottom: 20px;
		padding-top: 10px;
		background-color: @orangeFonce;
		margin-bottom: 10px;

	}


	main {

		background-color: @rougePale;

		div.menu {

			display: flex;
			flex-direction: row;
			background-color: @rougeFonce;
			color: @blanc;
			height: 5vh;
			border-bottom: 10px solid @blanc;


			ul {

				display: flex;
				flex-direction: row;
				justify-content: space-around;
				padding: 0;
				width: 100%;
				height: 100%;
				margin: 0;


				li {

					list-style: none;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					padding: 20px;
					/*flex: 0 0 15%;*/
					cursor: pointer;

					a {

						font-size: 15px;

					}

					&:hover {

						background-color: @orangeFonce;
						color: @noir;

					}

				}

			}

		}


		div.liste {

			display: flex;
			flex-direction: column;
			margin-bottom: 3%;
			height: 60vh;
			width: 50%;
			margin: 0 auto;
			justify-content: space-around;

			div {

				background-color: @orangeFonce;
				/*border: 3px solid @blanc;*/
				flex: 0 0 30%;
				display: flex;
				align-items: center;
				justify-content: space-around;
				transition: border 0.5s;
				border: 5px solid @rougePale;


				a {

					font-size: 20px; 
					flex: 0 0 25%;
					text-align: center;
				}


				i {

					font-size: 80px;

				}


				&:hover {

					border: 5px solid @noir;

				}


			}


		}

		div.liste2 {

			display: flex;
			flex-direction: column;
			margin-bottom: 3%;
			height: 100vh;
			width: 70%;
			margin: 0 auto;
			justify-content: space-around;

			div {

				display: flex;
				/*border: 5px solid @blanc;*/
				flex: 0 0 30%;
				text-align: center;
				overflow: hidden;


				img {

					height: 100%;
					width: 100%; 
					opacity: 0.8;


					&:hover {

							height: 100%;
							width: 100%;
							opacity: 1;
							cursor: pointer;

					}

				}

			}

		}

	}


	footer {

		text-align: center;
		background-color: @rougeFonce;
		color: @blanc;
		padding: 20px;

	}


}

/*debut de MEDIA QUERY */

@media (min-width: 900px) {

	body {

		main {

		    div.liste {

				flex-direction: row;
				height: 80vh;
				flex-wrap: wrap;
				width: 100%;
				justify-content: center;


				div {

		    			flex: 0 0 40%;

		   		 }


	   		}

	   		div.liste2 {

				flex-direction: row;
				flex-wrap: wrap;
				height: 100vh;
				width: 100%;
				margin: 0 auto;
				justify-content: center;

				div {

					flex: 0 0 48%;
					margin: 5px;

				}

			}

	   	}

	}


}

/*fin de MEDIA QUERY */